.test {
	width: 100%;
	.header {
		border-bottom: 1px solid gray;
		padding: 15px;
		text-align: right;

		button {
			padding: 10px;
			background-color: #4051b5;
			font-weight: 700;
			color: white;
			border: none;
		}
	}

	.body {
		width: 100%;
		padding: 25px;
		box-sizing: border-box;

		.wrap {
			border-radius: 5px;
			box-shadow: 0 0 3px #ccc;
			width: 100%;
			overflow: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			.wrap-header {
				position: relative;
				border-bottom: 1px solid gray;
				display: flex;
				overflow: auto;
				width: 100%;

				&::-webkit-scrollbar {
					display: none;
				}

				button {
					background-color: transparent;
					border: none;
					min-width: 190px;
					padding: 20px;
					cursor: pointer;
					font-size: 15px;
					color: gray;
				}

				&::after {
					content: "";
					position: absolute;
					width: 190px;
					height: 3px;
					background-color: #4051b5;
					bottom: 0;
					transition: 0.2s;
				}
			}

			.left {
				&::after {
					left: 0;
				}

				button:nth-child(1) {
					color: #4051b5;
				}
			}

			.right {
				&::after {
					left: 190px;
				}
				button:nth-child(2) {
					color: #4051b5;
				}
			}

			.wrap-body {
				overflow: auto;
				width: 100%;
				padding: 20px;
				box-sizing: border-box;

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
	}
}
