.input-container {
	.input-custom {
		position: relative;
		margin-top: 25px;

		span {
			position: absolute;
			left: 0px;
			top: 50%;
			transform: translateY(-62%);
			transition: 0.2s;
			font-weight: 500;
			color: gray;
			pointer-events: none;
		}

		input,
		span {
			font-size: 20px;
		}

		input {
			padding: 0 0 7px 0;
			border: none;
			outline: none;
			width: 100%;
			background-color: transparent;
		}

		.border {
			background-color: gray;
			transition: 0.2s;
			height: 1.5px;
			position: absolute;
			width: 100%;
			bottom: 0;
			transition: 0.1s;
		}

		&:hover {
			.border {
				height: 3px;
				background-color: black;
			}
		}

		input:focus ~ span {
			top: 0;
			transform: translateY(-20px);
			font-size: 15px;
			color: #4051b5;
			font-weight: 400;
		}

		input:focus ~ .border {
			height: 3px;
			background-color: #4051b5;
		}
	}

	.error-text {
		padding: 0;
		display: none;
		color: red;
		margin-top: 10px;
		font-size: 12px;
	}

	.error {
		.border {
			height: 3px;
			background-color: red !important;
		}

		span {
			color: red !important;
		}
	}

	.error ~ .error-text {
		display: inline;
	}

	.valid {
		span {
			top: 0;
			transform: translateY(-20px);
			font-size: 15px;
			font-weight: 400;
		}
	}
}
