p,
h1 {
	margin-block-end: 0;
	margin-block-start: 0;
}

input[type="checkbox"] {
	cursor: pointer;
	margin: 0;
	width: 20px;
	height: 20px;
}

button {
	cursor: pointer;
	border-radius: 5px;
}

body {
	&::-webkit-scrollbar {
		display: none;
	}
}

@import "app.scss";
@import "page-one.scss";
@import "page-two.scss";
@import "input.scss";
@import "sub-campaign.scss";
