p,
h1 {
  margin-block-end: 0;
  margin-block-start: 0;
}

input[type=checkbox] {
  cursor: pointer;
  margin: 0;
  width: 20px;
  height: 20px;
}

button {
  cursor: pointer;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  display: none;
}

.test {
  width: 100%;
}
.test .header {
  border-bottom: 1px solid gray;
  padding: 15px;
  text-align: right;
}
.test .header button {
  padding: 10px;
  background-color: #4051b5;
  font-weight: 700;
  color: white;
  border: none;
}
.test .body {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}
.test .body .wrap {
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  width: 100%;
  overflow: auto;
}
.test .body .wrap::-webkit-scrollbar {
  display: none;
}
.test .body .wrap .wrap-header {
  position: relative;
  border-bottom: 1px solid gray;
  display: flex;
  overflow: auto;
  width: 100%;
}
.test .body .wrap .wrap-header::-webkit-scrollbar {
  display: none;
}
.test .body .wrap .wrap-header button {
  background-color: transparent;
  border: none;
  min-width: 190px;
  padding: 20px;
  cursor: pointer;
  font-size: 15px;
  color: gray;
}
.test .body .wrap .wrap-header::after {
  content: "";
  position: absolute;
  width: 190px;
  height: 3px;
  background-color: #4051b5;
  bottom: 0;
  transition: 0.2s;
}
.test .body .wrap .left::after {
  left: 0;
}
.test .body .wrap .left button:nth-child(1) {
  color: #4051b5;
}
.test .body .wrap .right::after {
  left: 190px;
}
.test .body .wrap .right button:nth-child(2) {
  color: #4051b5;
}
.test .body .wrap .wrap-body {
  overflow: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.test .body .wrap .wrap-body::-webkit-scrollbar {
  display: none;
}

.page-one .input-container:nth-child(1) {
  margin-bottom: 40px;
}

.page-two {
  width: 100%;
  overflow: auto;
}
.page-two::-webkit-scrollbar {
  display: none;
}
.page-two .add-data {
  width: 100%;
  overflow: auto;
  margin-bottom: 30px;
}
.page-two .add-data::-webkit-scrollbar {
  display: none;
}
.page-two .add-data .add-data-wrap {
  width: max-content;
  display: flex;
  padding: 10px 5px;
}
.page-two .add-data .add-data-wrap button {
  width: 48px;
  height: 48px;
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
  cursor: pointer;
  color: red;
  font-size: 35px;
  font-weight: 300;
  border: none;
}
.page-two .name-status-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.page-two .name-status-wrap .input-container {
  width: 70%;
  margin-right: 50px;
}
.page-two .name-status-wrap .status-wrap {
  cursor: pointer;
  display: flex;
}
.page-two .name-status-wrap .status-wrap input {
  margin-right: 10px;
}
.page-two .advertisement-wrap {
  width: 100%;
  overflow: auto;
}
.page-two .advertisement-wrap::-webkit-scrollbar {
  display: none;
}
.page-two .advertisement-wrap .title {
  font-weight: 700;
  margin-bottom: 30px;
}
.page-two .advertisement-wrap table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}
.page-two .advertisement-wrap table tr {
  border-bottom: 1px solid gray;
}
.page-two .advertisement-wrap table tr th,
.page-two .advertisement-wrap table tr td {
  text-align: left;
  padding: 18px 15px;
}
.page-two .advertisement-wrap table tr th:nth-last-child(1),
.page-two .advertisement-wrap table tr td:nth-last-child(1) {
  text-align: right;
}
.page-two .advertisement-wrap table tr th:nth-child(2),
.page-two .advertisement-wrap table tr th:nth-child(3) {
  width: 40%;
  min-width: 200px;
}
.page-two .advertisement-wrap table tr .input-custom {
  margin-top: 0;
}
.page-two .advertisement-wrap table tr .error-text {
  display: none;
}
.page-two .advertisement-wrap table tr img {
  cursor: pointer;
}
.page-two .advertisement-wrap table tr button {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #4051b5;
  color: #4051b5;
}
.page-two .advertisement-wrap table tr:not(:first-child):hover {
  background-color: #f3f3f3;
}
.page-two .advertisement-wrap table .active {
  background-color: #fff0f3 !important;
}
.page-two .advertisement-wrap table .active img {
  pointer-events: none;
  opacity: 0.6;
}
.page-two .advertisement-wrap table .disableTrash img {
  pointer-events: none;
  opacity: 0.6;
}

.input-container .input-custom {
  position: relative;
  margin-top: 25px;
}
.input-container .input-custom span {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-62%);
  transition: 0.2s;
  font-weight: 500;
  color: gray;
  pointer-events: none;
}
.input-container .input-custom input,
.input-container .input-custom span {
  font-size: 20px;
}
.input-container .input-custom input {
  padding: 0 0 7px 0;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}
.input-container .input-custom .border {
  background-color: gray;
  transition: 0.2s;
  height: 1.5px;
  position: absolute;
  width: 100%;
  bottom: 0;
  transition: 0.1s;
}
.input-container .input-custom:hover .border {
  height: 3px;
  background-color: black;
}
.input-container .input-custom input:focus ~ span {
  top: 0;
  transform: translateY(-20px);
  font-size: 15px;
  color: #4051b5;
  font-weight: 400;
}
.input-container .input-custom input:focus ~ .border {
  height: 3px;
  background-color: #4051b5;
}
.input-container .error-text {
  padding: 0;
  display: none;
  color: red;
  margin-top: 10px;
  font-size: 12px;
}
.input-container .error .border {
  height: 3px;
  background-color: red !important;
}
.input-container .error span {
  color: red !important;
}
.input-container .error ~ .error-text {
  display: inline;
}
.input-container .valid span {
  top: 0;
  transform: translateY(-20px);
  font-size: 15px;
  font-weight: 400;
}

.campaign-item {
  margin-left: 15px;
  width: 200px;
  height: 120px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.campaign-item .name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.campaign-item .name p {
  word-break: break-all;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-right: 10px;
  font-weight: 600;
}
.campaign-item h1 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.campaign-item.active {
  border: 2px solid #4051b5;
}
.campaign-item.error p {
  color: red;
}

/*# sourceMappingURL=main.css.map */
