.page-two {
	width: 100%;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	.add-data {
		width: 100%;
		overflow: auto;
		margin-bottom: 30px;

		&::-webkit-scrollbar {
			display: none;
		}

		.add-data-wrap {
			width: max-content;
			display: flex;
			padding: 10px 5px;

			button {
				width: 48px;
				height: 48px;
				background-color: rgb(237, 237, 237);
				border-radius: 50%;
				cursor: pointer;
				color: red;
				font-size: 35px;
				font-weight: 300;
				border: none;
			}
		}
	}

	.name-status-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		.input-container {
			width: 70%;
			margin-right: 50px;
		}

		.status-wrap {
			cursor: pointer;
			display: flex;
			input {
				margin-right: 10px;
			}
		}
	}

	.advertisement-wrap {
		width: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		.title {
			font-weight: 700;
			margin-bottom: 30px;
		}

		table {
			width: max-content;
			min-width: 100%;
			border-collapse: collapse;

			tr {
				border-bottom: 1px solid gray;

				th,
				td {
					text-align: left;
					padding: 18px 15px;
				}

				th:nth-last-child(1),
				td:nth-last-child(1) {
					text-align: right;
				}

				th:nth-child(2),
				th:nth-child(3) {
					width: 40%;
					min-width: 200px;
				}

				.input-custom {
					margin-top: 0;
				}
				.error-text {
					display: none;
				}

				img {
					cursor: pointer;
				}

				button {
					background-color: transparent;
					padding: 10px;
					border: 1px solid #4051b5;
					color: #4051b5;
				}
			}

			tr:not(:first-child):hover {
				background-color: #f3f3f3;
			}

			.active {
				background-color: #fff0f3 !important;

				img {
					pointer-events: none;
					opacity: 0.6;
				}
			}

			.disableTrash {
				img {
					pointer-events: none;
					opacity: 0.6;
				}
			}
		}
	}
}
