.campaign-item {
	margin-left: 15px;
	width: 200px;
	height: 120px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.name {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		p {
			word-break: break-all;
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			-webkit-box-orient: vertical;
			margin-right: 10px;
			font-weight: 600;
		}
	}

	h1 {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}

	&.active {
		border: 2px solid #4051b5;
	}

	&.error {
		p {
			color: red;
		}
	}
}
